<svg #resistorViewport (contextmenu)="onContextMenu($event)" (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)" height="2000" viewBox="0 0 2000 2000" width="2000">
  <defs>
    <pattern height="10" id="resistorSmallGrid" patternUnits="userSpaceOnUse" width="10">
      <path d="M 10 0 L 0 0 0 10" fill="none" stroke="lightgray" stroke-width="0.5"></path>
    </pattern>
    <pattern height="100" id="resistorGrid" patternUnits="userSpaceOnUse" width="100">
      <rect height="100" width="100" fill="url(#resistorSmallGrid)"></rect>
      <path d="M 100 0 L 0 0 0 100" fill="none" stroke="lightgray" stroke-width="1"></path>
    </pattern>
  </defs>
  <rect height="2000" id="backgroundGrid" width="2000" fill="url(#resistorGrid)">
  </rect>
  <g #resistorShapesContainer>
  </g>
  <g #resistorConnectors>
  </g>
  <g #resistorControls>
  </g>
</svg>

<!-- <router-outlet></router-outlet> -->
